

body {  
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(137, 226, 255), rgb(166, 142, 255));
}

.orig-radio {
	display: none;
}

#slider {
  width: 80%;
  max-width: 1024px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.slides__overflow-contain { 
  width: 84%;
  margin: 0 auto;
  overflow: hidden;
  }

.slides__inner-contain { 
  width: 1000%;
  max-height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 11%);
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }

.slides__item{
  width: 10%;
  text-align: center;
}

.slides__img{ 
  border-radius: 10px;
  max-width: 100%;
  max-height: 40vh;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ .slides .slides__inner-contain{
	left: 0;
}

#switch2:checked ~ .slides .slides__inner-contain{
	left: -100%;
}

#switch3:checked ~ .slides .slides__inner-contain{
	left: -200%;
}

#switch4:checked ~ .slides .slides__inner-contain{
	left: -300%;
}

#switch5:checked ~ .slides .slides__inner-contain{
	left: -400%;
}

#switch6:checked ~ .slides .slides__inner-contain{
	left: -500%;
}

#switch7:checked ~ .slides .slides__inner-contain{
	left: -600%;
}

#switch8:checked ~ .slides .slides__inner-contain{
	left: -700%;
}

#switch9:checked ~ .slides .slides__inner-contain{
	left: -800%;
}

#switch10:checked ~ .slides .slides__inner-contain{
	left: -900%;
}

.vector-controls{
	width: 0;
	height: 0;
}

.vector-controls__item{ 
  display: none;
  position: relative;
  height: 40vh;
	width: 7%;
  background: #18a3dd;
  cursor: pointer;
	transition: all 0.3s ease-out;
}

.vector-controls__item:hover{ 
  background: #00cafd;
}

.vector-controls__item:active{ 
	transform: scale(0.95);
}


/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ .vector-controls label:nth-child(10), 
#switch2:checked ~ .vector-controls label:nth-child(1),
#switch3:checked ~ .vector-controls label:nth-child(2),
#switch4:checked ~ .vector-controls label:nth-child(3),
#switch5:checked ~ .vector-controls label:nth-child(4),
#switch6:checked ~ .vector-controls label:nth-child(5),
#switch7:checked ~ .vector-controls label:nth-child(6),
#switch8:checked ~ .vector-controls label:nth-child(7),
#switch9:checked ~ .vector-controls label:nth-child(8),
#switch10:checked ~ .vector-controls label:nth-child(9){
	display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask: url(./assets/img/prev.png) center / contain  no-repeat;
  border-radius: 10px 0 0 10px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .vector-controls label:nth-child(2), 
#switch2:checked ~ .vector-controls label:nth-child(3),
#switch3:checked ~ .vector-controls label:nth-child(4),
#switch4:checked ~ .vector-controls label:nth-child(5),
#switch5:checked ~ .vector-controls label:nth-child(6),
#switch6:checked ~ .vector-controls label:nth-child(7),
#switch7:checked ~ .vector-controls label:nth-child(8),
#switch8:checked ~ .vector-controls label:nth-child(9),
#switch9:checked ~ .vector-controls label:nth-child(10),
#switch10:checked ~ .vector-controls label:nth-child(1){
	display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-mask: url(./assets/img/next.png) center / contain no-repeat;
  mask: url(./assets/img/next.png) center / 45px 45px no-repeat;
  border-radius: 0 10px 10px 0;
}

.description-and-controls-container {
  min-height: 100px;
	display: flex;
	justify-content: space-between;
}

.desriptions {
  flex-basis: 60%;
	overflow: hidden;
}

.desriptions-inner-cotainer {
	position: relative;
	display: flex;
  flex-wrap: wrap;
	width: 1000%;
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.descriptions__item {
	width: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  overflow: hidden;
}

/*позиция текста при активации переключателя*/
#switch1:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: 0;
}

#switch2:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -100%;
}

#switch3:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -200%;
}

#switch4:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -300%;
}

#switch5:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -400%;
}

#switch6:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -500%;
}

#switch7:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -600%;
}

#switch8:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -700%;
}

#switch9:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -800%;
}

#switch10:checked ~ .description-and-controls-container .desriptions-inner-cotainer{
	left: -900%;
}


.dots-controls{ 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 30%;
  margin: 0;
}

.dots-controls__item{ 
  position: relative;
	width: 20px;
	height: 30px;
	background: transparent;
  cursor: pointer;
}

.dots-controls__item::after{ 
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #bbb;
}

.dots-controls__item:hover::after{
	background: #76c8ff;
}

.dots-controls__item:active{
  transform: scale(0.9);
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ .description-and-controls-container .dots-controls__item:nth-child(1)::after,
#switch2:checked ~ .description-and-controls-container .dots-controls__item:nth-child(2)::after,
#switch3:checked ~ .description-and-controls-container .dots-controls__item:nth-child(3)::after,
#switch4:checked ~ .description-and-controls-container .dots-controls__item:nth-child(4)::after,
#switch5:checked ~ .description-and-controls-container .dots-controls__item:nth-child(5)::after,
#switch6:checked ~ .description-and-controls-container .dots-controls__item:nth-child(6)::after,
#switch7:checked ~ .description-and-controls-container .dots-controls__item:nth-child(7)::after,
#switch8:checked ~ .description-and-controls-container .dots-controls__item:nth-child(8)::after,
#switch9:checked ~ .description-and-controls-container .dots-controls__item:nth-child(9)::after,
#switch10:checked ~ .description-and-controls-container .dots-controls__item:nth-child(10)::after{
	background: #18a3dd;
	border-color: #18a3dd;
}

@media (max-width: 1024px) {
  #slider {
    max-width: 90%;

  }
  
  .description-and-controls-container {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 20px;
  }
  
  .desriptions {
    flex-basis: auto;
  }

  .dots-controls{ 
    gap: 5px;
  }
  
}

@media (max-width: 500px) {

  .vector-controls{
    position: relative;
    width: 100%;
    background: black;
  }
  
  .vector-controls__item {
    height: 70px;
    width: 15%;
  }
  
  .description-and-controls-container {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 0;
  }
  
  .dots-controls{ 
    width: 60%;
    gap: 10px;
    flex-basis: 20%;
  }

}
